#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  padding: 1rem 3rem;
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 25px;
  flex-grow: 1;
  max-width: 800px;
  max-height: 90%;
  overflow: scroll;
}

.App header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.App header h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.product-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
}

.product-container .product-details {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 3rem;
}

.product-details .product-img {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
  border-radius: 15px;
  color: cornsilk;
}
